extends layout

block content

  h1 Category: #{category.type}
  h4 #{category.description}

  div(style='margin-left:20px;margin-top:20px')

    h4 Weapons 

    dl
      each weapon in category_weapons 
        dt
          a(href=weapon.url) #{weapon.name}
        dd #{weapon.description}

      else
        p This category has no weapons.

  p
    a(href=category.url+'/delete') Delete category 
  p
    a(href=category.url+'/update') Update category