extends layout

block content

  h1 ID: #{weaponinstance._id}

  p #[strong Title:]
    a(href=weaponinstance.weapon.url) #{weaponinstance.weapon.name}
  p #[strong Nickname:] #{weaponinstance.nickname}


  hr
  p
    a(href=weaponinstance.url+'/delete') Delete weapon instance
  p
    a(href=weaponinstance.url+'/update') Update weapon instance